<ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu active pcoded-trigger">
                        <a href="" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                         <ul class="pcoded-submenu">
                            <li class="active"><a href="/" class="">Default</a></li>
                            <li class=""><a href="" class="">Stats</a></li>
                            <li class=""><a href="" class="">Multistat</a></li>
                            <li class=""><a href="" class="">Users/Employees</a></li>
                            <li class=""><a href="" class="">Ecommerce</a></li>
                            <li class=""><a href="" class="">CRM</a></li>
                            <li class=""><a href="" class="">Analytics</a></li>
                            <li class=""><a href="" class="">Crypto<span class="pcoded-badge label label-danger">NEW</span></a></li>
                            <li class=""><a href="" class="">Project</a></li>
                        </ul>
                    </li>


                </ul>